.slds-media__figure img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.slds-media__body a {
    text-decoration: none;
    color: #080707;
}

.slds-media__body a:hover {
    text-decoration: underline;
}

.slds-text-heading--small {
    margin: 0 0 8px;
}
